<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>reservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.triths.servlet.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/index/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnloginJSP</display-name>
    <servlet-name>UnloginJSP</servlet-name>
    <servlet-class>com.triths.servlet.UnloginJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnloginJSP</servlet-name>
    <url-pattern>/index/UnloginJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.triths.servlet.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/index/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllJSP</display-name>
    <servlet-name>QueryAllJSP</servlet-name>
    <servlet-class>com.triths.servlet.QueryAllJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllJSP</servlet-name>
    <url-pattern>/index/QueryAllJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPersonJSP</display-name>
    <servlet-name>AddPersonJSP</servlet-name>
    <servlet-class>com.triths.servlet.AddPersonJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPersonJSP</servlet-name>
    <url-pattern>/index/AddPersonJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPerson</display-name>
    <servlet-name>AddPerson</servlet-name>
    <servlet-class>com.triths.servlet.AddPersonAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPerson</servlet-name>
    <url-pattern>/index/AddPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePerson</display-name>
    <servlet-name>DeletePerson</servlet-name>
    <servlet-class>com.triths.servlet.DeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePerson</servlet-name>
    <url-pattern>/index/DeletePerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBySelect</display-name>
    <servlet-name>DeleteBySelect</servlet-name>
    <servlet-class>com.triths.servlet.DeletBySelectAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBySelect</servlet-name>
    <url-pattern>/index/DeleteBySelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePerson</display-name>
    <servlet-name>UpdatePerson</servlet-name>
    <servlet-class>com.triths.servlet.UpdatePersonAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePerson</servlet-name>
    <url-pattern>/index/UpdatePerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonJSP</display-name>
    <servlet-name>UpdatePersonJSP</servlet-name>
    <servlet-class>com.triths.servlet.UpdatePersonJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonJSP</servlet-name>
    <url-pattern>/index/UpdatePersonJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Code</display-name>
    <servlet-name>Code</servlet-name>
    <servlet-class>com.triths.util.ValidationCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code</servlet-name>
    <url-pattern>/index/Code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginErrorJSP</display-name>
    <servlet-name>LoginErrorJSP</servlet-name>
    <servlet-class>com.triths.servlet.LoginErrorJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginErrorJSP</servlet-name>
    <url-pattern>/index/LoginErrorJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginResultJSP</display-name>
    <servlet-name>LoginResultJSP</servlet-name>
    <servlet-class>com.triths.servlet.LoginResultJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginResultJSP</servlet-name>
    <url-pattern>/index/LoginResultJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.triths.servlet.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/index/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistResultJSP</display-name>
    <servlet-name>RegistResultJSP</servlet-name>
    <servlet-class>com.triths.servlet.RegistResultJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistResultJSP</servlet-name>
    <url-pattern>/index/RegistResultJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonErrorJSP</display-name>
    <servlet-name>PersonErrorJSP</servlet-name>
    <servlet-class>com.triths.servlet.PersonErrorJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonErrorJSP</servlet-name>
    <url-pattern>/index/PersonErrorJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterErrorJSP</display-name>
    <servlet-name>RegisterErrorJSP</servlet-name>
    <servlet-class>com.triths.servlet.RegisterErrorJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterErrorJSP</servlet-name>
    <url-pattern>/index/RegisterErrorJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonDetailJSP</display-name>
    <servlet-name>PersonDetailJSP</servlet-name>
    <servlet-class>com.triths.servlet.PersonDetailJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonDetailJSP</servlet-name>
    <url-pattern>/index/PersonDetailJSP</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UserAttributeFilter</filter-name>
    <filter-class>com.triths.servlet.UserAttributeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAttributeFilter</filter-name>
    <url-pattern>/index/Login</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>com.triths.servlet.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/index/Register</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PersonAttributeFilter</filter-name>
    <filter-class>com.triths.servlet.PersonAttributeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PersonAttributeFilter</filter-name>
    <url-pattern>/index/UpdatePerson</url-pattern>
    <url-pattern>/index/AddPerson</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.triths.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/index/*</url-pattern>
  </filter-mapping>
</web-app>